<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de facturas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/clientes}">Clientes</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/empleados}">Empleados</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/productos}">Productos</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/facturas}">Facturas</a></li>
            <li class="nav-item"><a th:href="@{empleados/nuevo}" class="btn btn-primary">Añadir Empleado</a></li>
            <li class="nav-item" style="margin-left: 1vh"><a th:href="@{/tpv/0}" class="btn btn-success">TPV</a></li>
        </ul>
        <ul class="navbar-nav ms-auto" style="margin-right: 1vh">
            <li class="nav-item"><a th:href="@{/index}" class="btn btn-warning">Log out</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center m-3">
        <div class="col-md-4">
            <h1>Lista de Facturas</h1>
        </div>
    </div>
</div>
<table class="table table-striped table-bordered align-middle">
    <thead class="table-dark">
    <tr>
        <th>Cliente</th>
        <th>Empleado</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="factura:${facturas}">
        <td th:text="${factura.cliente.nombre} + ' ' + ${factura.cliente.apellidos}"></td>
        <td th:text="${factura.empleado.nombre} + ' ' + ${factura.empleado.apellidos}"></td>
        <td th:text="${factura.fecha}"></td>
        <td th:text="${factura.precio} + '€'"></td>
        <td>
            <a th:href="@{/facturas/detalles/{id}(id=${factura.id})}" class="btn btn-info">Detalles</a>
            <a th:href="@{/facturas/borrar/{id}(id=${factura.id})}" class="btn btn-danger">Borrar</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>